html,
body,
#root,
.app {
	height: 100%;
}

.app {
	display: flex;
	flex-direction: column;
}
.peaches {
	display: flex;
	flex-wrap: wrap;
}
.peaches > div {
	width: 50%;
}
@media (max-width: 767px) {
	.peaches {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.peaches > div {
		width: 100%;
	}

	.peaches > div {
		margin: 0;
	}
}
